<div class="min-h-screen sm:h-14 sm:w-screen">
  <div class="min-h-screen w-80 overflow-hidden bg-zinc-800">
    <div class="flex h-screen flex-col justify-between pb-6">
      <div>
        <!-- Logo -->
        <div class="flex h-80 w-full justify-center items-center bg-color1">
          <img src= "../../assets/images/logo.png" class="w-56" alt="">
        </div>
        <ul class="mt-6 space-y-2 tracking-wide">

           <!-- Inventario -->

          <li class="min-w-max h-14 hover:bg-zinc-500">
            <a class="h-full flex items-center text-white justify-center">
              <span class="font-sans text-xl">Inventario</span>
            </a>
          </li>

          <!-- Listadoss -->

          <li class="min-w-max h-14 hover:bg-zinc-500">
            <a class="h-full flex items-center text-white justify-center">
              <span class="font-sans text-xl">Listados</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>