
<div id="modal">
    <div class="flex flex-row h-full w-full">
        <div class="imagen">
            <div class="w-[300px] h-[300px] bg-orange-600"></div>
        </div>
        <div class="datos flex flex-row flex-wrap m-5 w-full items-">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Favorite food</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </form>
              
            <!-- <input class="w-[300px] h-[45px] mb-4">
            <input class="w-[300px] h-[45px] mb-4">
            <input class="w-[300px] h-[45px] mb-4">
            <input class="w-[300px] h-[45px] mb-4">
            <input class="w-[300px] h-[45px] mb-4">
            <input class="w-[300px] h-[45px] mb-4"> -->

        </div>
    </div>
</div>
