
<div class="flex flex-col h-full w-full bg-white border-2 md:h-max md:w-[1000px]">

    <div class="w-full flex justify-center items-center h-20 ">
        <h1>{{valor}} Producto </h1>
    </div>

    <div class="flex flex-col md:flex-row m-6 ">

        <div class="h-fit flex flex-col items-center w-full ">
            <div class="w-[300px] h-[300px] bg-orange-600">
                <img [src]="producto?.foto ?? ''" alt="">
            </div>
            <input class="w-fit h-fit" type="file" value="" #fotoProducto>
        </div>
    
        <div class="flex mt-10 flex-row flex-wrap justify-between w-full ">
    
            <form>
                <mat-form-field class="w-52">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="" #nombreProducto [value]="producto?.nombre ?? ''">
                </mat-form-field>
            </form>
    
            <mat-form-field class="h-20 w-52">
                <mat-label>Categoria</mat-label>
                <mat-select #categoriaProducto [value]="producto?.categoria.nombre">
                    <mat-option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">
                    {{categoria.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
    
            <form >
                <mat-form-field class="h-20 w-52">
                    <mat-label>Descripcion</mat-label>
                    <input matInput placeholder="" [value]="producto?.descripcion ?? ''" #descripcionProducto>
                </mat-form-field>
            </form>
    
            <mat-form-field class="h-20 w-52">
                <mat-label>Estante</mat-label>
                <mat-select #estanteProducto [value]="producto?.estante.nombre ">
                    <mat-option *ngFor="let estante of estantes" value="{{estante.nombre}}">
                    {{estante.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
        </div>

    </div>

    
               
    <div class="flex flex-row w-full h-max mt-10 mb-10 justify-evenly ">
        <div class="w-32 h-14 flex items-center justify-center bg-color1 rounded">
            <button (click)="cerrarModal()" class="text-white">Cancelar</button>
        </div>

        <div class="w-32 h-14 flex items-center justify-center bg-color1 rounded">
            <button *ngIf="!producto" (click)="guardarProducto(nombreProducto.value, descripcionProducto.value, estanteProducto.value, categoriaProducto.value, fotoProducto.value)" class="text-white">Guardar</button>
            <button *ngIf="producto" (click)="modificarProducto(nombreProducto.value, descripcionProducto.value, estanteProducto.value, categoriaProducto.value, fotoProducto.value)" class="text-white">Guardar</button>
        </div>

    </div>
      

</div>