<div mat-dialog-title>Registrar Venta</div>

<div mat-dialog-content>
  <mat-form-field class="w-full">
    <mat-label>Descripcion</mat-label>
    <input
      matInput
      name="cantidad"
      [(ngModel)]="compra.descripcion"
      autocomplete="off"
    />
  </mat-form-field>
  <div class="overflow-x-auto">
    <table class="min-w-[400px] align-middle text-center">
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>SubTotal</th>
      </tr>
      <tr *ngFor="let detalle of detalle; let indice = index">
        <td>{{ detalle.producto?.nombre }}</td>
        <td>{{ detalle.precio }}</td>
        <td>{{ detalle.cantidad }}</td>
        <td>{{ detalle.subTotal }}</td>
      </tr>
    </table>
  </div>

  <h1 class="p-5">Total: {{ totalCompra }}</h1>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="generarVenta()">
    Registrar Compra
  </button>
</div>
