<div mat-dialog-title>
  <h1>Crear Categoria</h1>
</div>

<div mat-dialog-content class="flex flex-col flex-wrap w-min">
  <form [formGroup]="categoriaForm">
    <mat-form-field class="w-52">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder=""
        name="nombre"
        formControlName="nombre"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field class="h-20 w-52">
      <mat-label>Descripcion</mat-label>
      <input
        matInput
        placeholder=""
        name="descripcion"
        formControlName="descripcion"
        autocomplete="off"
      />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="cerrarModal()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</div>
