<div
  class="flex flex-col h-screen w-screen bg-slate-400 border-2 md:h-[1000px] md:w-[1000px] border-2"
>
  <div
    class="w-full flex justify-center items-center h-20 border-solid border-red-600 border-2"
  >
    <h1>Nueva Venta</h1>
  </div>

  <div class="flex flex-row w-full gap-3 border-solid border-red-600 border-2">
    <form class="example-form">
      <mat-form-field [(ngModel)]="detallesVenta[0]">
        <mat-label>Seleccionar Producto</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let producto of filteredProductos | async"
            [value]="producto.nombre"
          >
            {{ producto.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field class="w-52">
        <mat-label> Precio</mat-label>
        <input matInput [value]="buscarPrecio()" />
      </mat-form-field>
    </form>

    <form>
      <mat-form-field class="w-52">
        <mat-label>Cantidad</mat-label>
        <input matInput [value]="cantidad" />
      </mat-form-field>
    </form>

    <form>
      <mat-form-field class="w-52">
        <mat-label>Subtotal</mat-label>
        <input matInput />
      </mat-form-field>
    </form>

    <button class="w-11 h-11" (click)="print()">asdsad</button>
  </div>
</div>
