.mi-componente{
    width: 0;
    height: 100%;
    color: black;
    font-size: 16px;
    transition: all 1s ease 0s;
    position: absolute;
    z-index: 40;
    display: flex;
}

.mi-componente div, .mi-componente img{
    display: none;
    transition: all 1s ease 0s;
}

.div2 {
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.mi-componente.estilos-transicion {
    width: 200px;
}

.mi-componente.estilos-transicion div, .mi-componente.estilos-transicion img{
    display: flex;
}