<div class="p-6 h-screen w-full">
  <div class="flex items-center w-full justify-center p-4">
    <h1>Listados</h1>
  </div>

  <div
    class="flex flex-row flex-wrap gap-5 md:flex-row justify-around items-start max-h-full w-full"
  >
    <div
      class="flex flex-col justify-start items-center bg-gray-300 shadow-xl w-52"
    >
      <h1 class="text-black pt-3">Estantes</h1>
      <button
        (click)="obtenerDatosEstante(estante.id, estante.nombre)"
        class="text-white text-lg flex items-center justify-center bg-orange-400 w-full h-16 mb-5"
        *ngFor="let estante of estantes"
      >
        {{ estante.nombre }}
      </button>
    </div>

    <div
      class="flex flex-col justify-start items-center bg-gray-300 shadow-xl w-52"
    >
      <h1 class="text-black pt-3">Categorias</h1>
      <button
        *ngFor="let categoria of categorias"
        class="text-white text-lg flex items-center justify-center bg-green-500 w-full h-16 mb-5"
        (click)="obtenerDatosCategoria(categoria.id, categoria.nombre)"
      >
        {{ categoria.nombre }}
      </button>
    </div>

    <div
      class="flex flex-col justify-start items-center bg-gray-300 shadow-xl w-52"
    >
      <button
        class="text-white text-lg flex items-center justify-center bg-red-500 w-full h-16"
        (click)="obtenerDatosInventario()"
      >
        Inventario
      </button>
    </div>
  </div>
</div>
