<button mat-raised-button color="primary" (click)="open()">Nueva venta</button>

<div class="h-full overflow-x-auto w-full mat-elevation-z8" id="div-table">
  <table mat-table [dataSource]="dataSource" matSort class="w-auto">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th
        class="hidden md:table-cell"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Nro Venta
      </th>
      <td class="hidden md:table-cell" mat-cell *matCellDef="let row">
        {{ row.id }}
      </td>
    </ng-container>

    <!-- Columna Fecha -->
    <ng-container matColumnDef="fecha">
      <th class="" mat-header-cell *matHeaderCellDef>Fecha</th>
      <td class="" mat-cell *matCellDef="let row">
        {{ row.createdAt.substring(0, 10) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="hora">
      <th class="" mat-header-cell *matHeaderCellDef>Hora</th>
      <td class="" mat-cell *matCellDef="let row">
        {{ row.createdAt.substring(11, 16) }}
      </td>
    </ng-container>

    <!-- Columna Descripcion -->
    <ng-container matColumnDef="descripcion">
      <th class="" mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td class="" mat-cell *matCellDef="let row">
        {{ row.descripcion }}
      </td>
    </ng-container>

    <!-- Columna Descripcion -->
    <ng-container matColumnDef="total">
      <th class="" mat-header-cell *matHeaderCellDef>Total</th>
      <td class="" mat-cell *matCellDef="let row">${{ row.totalVenta }}</td>
    </ng-container>

    <!-- Columna Descripcion -->
    <ng-container matColumnDef="acciones">
      <th class="" mat-header-cell *matHeaderCellDef>Accion</th>
      <td class="" mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="openDetalle(row)">
          Detalle
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page of users"
    class="w-full"
  ></mat-paginator>
</div>
<h1 class="p-5">Total vendido: {{ totalVendido }}</h1>
