table {
    width: 100%;
  }
  
.mat-mdc-form-field {
    font-size: 14px;
  }
  
td, th {
    width: auto;
  }
  
.input{
    background-color: white;
    background-image: url('../../../assets/images/search.png');
    background-size: 30px;
    background-position: 8px 13px;
    background-repeat: no-repeat;
    padding-left: 50px;
}