td,
th {
  width: auto;
}

.input {
  background-color: white;
  background-image: url("../../../assets/images/search.png");
  background-size: 25px;
  background-position: 8px 16px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

#div-table {
  width: 100%;
  overflow-x: auto;
}
