<div *ngIf="ocultar" class="absolute z-50 md:hidden">
  <button mat-raised-button (click)="[drawer.toggle(), setNum()]">Toggle drawer</button>
</div>


<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer #mode value="over" opened>
    <button mat-raised-button (click)="[drawer.toggle(), setNum()]">Toggle drawer</button>
      Barra Navegacion
    </mat-drawer>
    <mat-drawer-content>
      <app-tabla></app-tabla>
    </mat-drawer-content>
  </mat-drawer-container>
  