<div class="flex flex-col md:flex-row md:flex-auto md:h-full">
  <div class="h-full">
    <app-side-bar2> </app-side-bar2>
  </div>
  <!-- <app-sidenav-angular class="w-full h-full"></app-sidenav-angular> -->
  <div class="w-full h-full">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="w-full h-full"> 
        <app-inventario *ngIf="boolInventario"></app-inventario>
        <app-listados *ngIf="boolListado"></app-listados>
    </div> -->

  <!-- <div class="col-span-4"*ngIf="active == 1"><app-inventario></app-inventario></div>
    <div class="col-span-4"*ngIf="active == 2"><app-listado></app-listado></div> -->
</div>
